<div class="form-container">
  <h2 mat-dialog-title>Update Form</h2>
</div>

<div mat-dialog-content>
  <form #form="ngForm">
    <!-- File Name Input -->
    <div class="form-container">
      <mat-form-field>
        <mat-label>File Name</mat-label>
        <input
          matInput
          placeholder="New File Name"
          [(ngModel)]="formName"
          name="formName"
        />
      </mat-form-field>
    </div>

    <div class="form-container">
      <mat-form-field>
        <mat-label>File Description</mat-label>
        <textarea
          matInput
          placeholder="New File Description"
          [(ngModel)]="description"
          name="description"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="form-container">
      <img
        *ngIf="selectedFile"
        [src]="getIconForFileType(selectedFile.name)"
        alt="File Icon"
        width="100"
        height="100"
      />
      <p *ngIf="selectedFile">{{ selectedFile.name }}</p>
    </div>

    <div class="form-container">
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept=".docx"
        style="display: none"
        #fileInput
        required
      />
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Upload Replacement Document
      </button>
    </div>
    <!-- File Upload Button -->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Cancel</button>
  <button
    mat-button
    (click)="updateForm()"
    [disabled]="!selectedFile || !form.valid"
  >
    Update
  </button>
  <!-- Disable button if form is not valid -->
</div>
