<mat-card class="cardWithShadow">
  <mat-card-content class="p-24 m-b-24">
    <mat-card-title>Account Settings</mat-card-title>
    <mat-card-subtitle
      >To edit account information such as username and
      password</mat-card-subtitle
    >
    <div class="d-flex align-items-center justify-content-center">
      <i-tabler name="settings" style="width: 60%; height: 60%"></i-tabler>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <button
        mat-raised-button
        color="primary"
        (click)="redirect()"
        style="margin-bottom: 8px"
      >
        Account Settings
      </button>
    </div>
  </mat-card-content>
</mat-card>
