<h2 mat-dialog-title>No Active Collection Points</h2>
<mat-dialog-content>
  <p>
    Currently, all your collection points are deactivated. If you have the
    permissions to enable them, you can do this in Company Management >
    Collection Points and toggle a collection point to active. If you don't have
    the permissions, please ask your company owner or boss to, thankyou!
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
