<h1 mat-dialog-title>Welcome to IDentify</h1>
<div mat-dialog-content>
  Welcome to IDentify, we can't wait for you to unlock your potential with out
  system. If you are trying to join an existing company, let your employer know
  that you have validated your email, so they can add you to their company. If
  you don't have a company, we highly encourage you to start one, which can be
  done via the 'Company Management' page. We'll give you a quick tutorial to
  show you around, then we'll let you explore the power of IDentify for
  yourself, happy scanning!<br />
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Start Tutorial</button>
</div>
