<mat-card class="cardWithShadow">
  <mat-card-content class="p-24 m-b-24">
    <mat-card-title>Scan History</mat-card-title>
    <mat-card-subtitle
      >View previously scanned cards to view, edit or delete
      them</mat-card-subtitle
    >
    <div class="d-flex align-items-center justify-content-center">
      <i-tabler name="history" style="width: 60%; height: 60%"></i-tabler>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <button
        mat-raised-button
        color="primary"
        (click)="redirect()"
        style="margin-bottom: 8px"
      >
        Scan History
      </button>
    </div>
  </mat-card-content>
</mat-card>
