<mat-card class="cardWithShadow">
  <mat-card-content class="p-24 m-b-24">
    <mat-card-title>Company Management</mat-card-title>
    <mat-card-subtitle
      >To create a company, invite users, edit users and edit collection
      points</mat-card-subtitle
    >
    <div class="d-flex align-items-center justify-content-center">
      <i-tabler name="building" style="width: 60%; height: 60%"></i-tabler>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <button
        mat-raised-button
        color="primary"
        (click)="redirect()"
        style="margin-bottom: 8px"
      >
        Company Management
      </button>
    </div>
  </mat-card-content>
</mat-card>
