<div class="form-container">
  <h1 mat-dialog-title>Printing Customer Form</h1>
</div>

<div mat-dialog-content class="form-container">
  <p>Select Form for Printing:</p>
  <mat-form-field>
    <mat-label>Select Form</mat-label>
    <mat-select
      [(ngModel)]="selectedForm"
      (ngModelChange)="onFormSelectionChange($event)"
    >
      <mat-option *ngFor="let form of formOptions" [value]="form.id">{{
        form.fileName
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <p>Select Format:</p>
    <mat-radio-group [(ngModel)]="selectedFormat">
      <mat-radio-button value="pdf">.pdf</mat-radio-button>
      <mat-radio-button value="word">.docx</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-progress-bar
      mode="indeterminate"
      [ngStyle]="{ visibility: savingFile == true ? 'visible' : 'hidden' }"
    ></mat-progress-bar>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onSaveClick()" [disabled]="!selectedForm">
    Download
  </button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
