.error-message {
  margin-top: 4px; /* Add spacing at the top of the error message */
  color: #f44336; /* Red color for error messages, you can adjust the color as needed */
}

.error-field {
  margin-top: 10px; /* Adjust the margin as needed */
}

.completed {
  color: green;
  margin-left: 10px; /* Add some spacing after the tick or cross */
}

.not-completed {
  color: red;
  margin-left: 10px; /* Add some spacing after the tick or cross */
}
