<div class="form-container">
  <h2 mat-dialog-title>Update Password</h2>
</div>

<div mat-dialog-content>
  <form [formGroup]="passwordForm">
    <!-- File Name Input -->
    <div class="form-container">
      <mat-form-field>
        <mat-label>Current password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Current Password"
          formControlName="currentPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>New password</mat-label>
        <input
          matInput
          [type]="hide2 ? 'password' : 'text'"
          placeholder="New Password"
          formControlName="newPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2"
        >
          <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm New password</mat-label>
        <input
          matInput
          [type]="hide3 ? 'password' : 'text'"
          placeholder="Confirm New Password"
          formControlName="confirmNewPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide3 = !hide3"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide3"
        >
          <mat-icon>{{ hide3 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <p>Your password must contain the following:</p>
      <ul>
        <li
          [class.completed]="
            hasSpecialCharacter && passwordForm.get('newPassword')!.value
          "
          [class.not-completed]="
            !hasSpecialCharacter && passwordForm.get('newPassword')!.value
          "
        >
          At least one special character
          {{
            passwordForm.get("newPassword")!.value
              ? hasSpecialCharacter
                ? "✅"
                : "❌"
              : ""
          }}
        </li>
        <li
          [class.completed]="
            hasMinNumbers && passwordForm.get('newPassword')!.value
          "
          [class.not-completed]="
            !hasMinNumbers && passwordForm.get('newPassword')!.value
          "
        >
          Minimum of 4 numbers
          {{
            passwordForm.get("newPassword")!.value
              ? hasMinNumbers
                ? "✅"
                : "❌"
              : ""
          }}
        </li>
        <li
          [class.completed]="
            hasMinLength && passwordForm.get('newPassword')!.value
          "
          [class.not-completed]="
            !hasMinLength && passwordForm.get('newPassword')!.value
          "
        >
          Minimum length of 7 characters
          {{
            passwordForm.get("newPassword")!.value
              ? hasMinLength
                ? "✅"
                : "❌"
              : ""
          }}
        </li>
        <li
          [class.completed]="
            hasMaxLength && passwordForm.get('newPassword')!.value
          "
          [class.not-completed]="
            !hasMaxLength && passwordForm.get('newPassword')!.value
          "
        >
          Maximum length of 30 characters
          {{
            passwordForm.get("newPassword")!.value
              ? hasMaxLength
                ? "✅"
                : "❌"
              : ""
          }}
        </li>
      </ul>

      <div
        *ngIf="passwordForm.hasError('passwordMismatch')"
        class="error-message"
      >
        Passwords don't match.
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="onSubmitClick()" [disabled]="!passwordForm.valid">
    Update
  </button>
  <!-- Disable button if form is not valid -->
</div>
