<mat-card class="cardWithShadow">
  <mat-card-content class="p-24 m-b-24">
    <mat-card-title>Manage Forms</mat-card-title>
    <mat-card-subtitle
      >Upload a document you need quick data insertion with</mat-card-subtitle
    >
    <div class="d-flex align-items-center justify-content-center">
      <i-tabler
        name="file-description"
        style="width: 60%; height: 60%"
      ></i-tabler>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <button
        mat-raised-button
        color="primary"
        (click)="redirect()"
        style="margin-bottom: 8px"
      >
        Form Management
      </button>
    </div>
  </mat-card-content>
</mat-card>
